.Title {
    color: aqua;
    width: 100vh;
    height: 50px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

#sectionSelectCharacter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectionLifePoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

